.logo {
    height: auto;
    width: 4rem;
}

section {
    min-height: 100vh;
    padding-top: 5.6rem;
}


h2 {
    color: purple;
}

a {
    color: white;
}


#inicio {
    background-image: url(../img/Theo\ Rios.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#inicio i {
    font-size: 2.5rem;
    margin: 0.5rem;
}

/* .carousel-inner {
    height: 30rem;
} */



#videoclip {
    min-height: 100vh;
    padding-top: 6rem;
}

#documental {
    min-height: 100vh;
    padding-top: 6rem;
}

