.logo {
    height: auto;
    width: 4rem;
}

section {
    min-height: 100vh;
    padding-top: 5.6rem;
}


h2 {
    color: purple;
}

a {
    color: white;
    text-decoration: none;
}

.datosContacto {
    color: teal;
    text-decoration: none;
}

#inicio {
    background-image: url(../img/Theo\ Rios.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#inicio i {
    font-size: 2.5rem;
    margin: 0.5rem;
}

/* .carousel-inner {
    height: 30rem;
} */



#talleres {
    min-height: 100vh;
    padding-top: 6rem;
}

#documental {
    min-height: 100vh;
    padding-top: 6rem;
}

#experimental {
    min-height: 100vh;
    padding-top: 6rem;
}

